{% extends 'base.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/css.css' %}">

{% block title %}
	Continent
{% endblock %}

{% block top_link %}
    {% for continent in continents %}
    	<li><a class="dropdown-item" href="{% url 'continent_show' continent.id %}">{{ continent.continent_name }}</a></li>
    {% endfor %}
{% endblock %}


{% block content %}
<!-- Carousel -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      </div>

      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
          {% for continent in continents %}
            <div class="carousel-item active">
              <img src="{% static 'images' %}/{{ continent.continent_image }}" alt="Los Angeles" class="d-block" style="width:100%">
            </div>
          {% endfor %}

      </div>

      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>

    <div class="container-fluid mt-3">
      <h3>Carousel Example</h3>
      <p>The following example shows how to create a basic carousel with indicators and controls.</p>
</div>
    <br>
    <!--  -->
    <div class="container mt-3">
      <h2>Continents</h2>
      <div id="accordion">
        {% for continent in continents %}
            <div class="card">
              <div class="card-header">
                <a class="btn" data-bs-toggle="collapse" href="#{{ continent.continent_name}}">
                    {{ continent.continent_name}}
                </a>
              </div>
              <div id="{{ continent.continent_name}}" class="collapse show" data-bs-parent="#accordion">
                <div class="card-body">
                  {{ continent.continent_annotations }} <br><a href="{% url 'continent_show' continent.pk %}">Batafsil</a>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>
{% endblock %}
