{% extends 'base.html' %}

{% block title %}
	Edit Country
{% endblock %}

{% block top_link %}
    {% for continent in continents %}
    	<li>
            <a class="dropdown-item" href="{% url 'continent_show' continent.id %}">{{ continent.continent_name }}</a>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
	<form action="" method="post">
        {% csrf_token %}
        <fieldset>
            <p>
                <label for="country_name">Country name: </label>
                <input type="text" name="country_name" value="{{ this_country }}">
            </p>
            <p>
                <label for="continent_id">Continent: </label>
                <select name="continent_id">
                    {% for con in all_continents %}
                        <option>{{ con.continent_name }}</option>
                    {% endfor %}
                </select>
            </p>
        </fieldset>
        <input type="submit" value="Create Theme">
    </form>
{% endblock %}